---
import { plans } from "../../constant";
import PlanCrad from "../molecules/PlanCrad.astro";
import CTA from "../molecules/CTA.astro";
---

<section id="plans" class="scroll-mt-24 my-10 md:my-16">

    <div class="text-center -space-y-2">

        <h1 class="text-desktop-h3 text-neutral">Plans</h1>
        <p class="text-lg md:text-xl font-light text-neutral">Launch, grow, scale — pick the plan that fits your goals.</p>

    </div>

    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 max-sm:gap-10 max-md:gap-4 lg:gap-8 my-12">

        {
            plans.map((plan) => (
                <PlanCrad tag={plan.tag} title={plan.title} description={plan.description} features={plan.features} tagClass={plan.tagColors}/>
            ))
        }

    </div>


    
    <CTA/>



</section>