---
import Section from "@ui/Section.astro";
import PageHeader from "@chrome/PageHeader.astro";
import Layers from "@icons/Layers.svg";
import ServiceCard from "@ui/ServiceCard.astro";
import { services } from "@data/services";
import CTA from "@ui/CTA.astro";
import UpRight from "@icons/UpRight.svg";
---

<Section>
    <PageHeader
        pillLabel="Modern Web Solutions"
        pillIcon={Layers}
        description="Big agency results without the big agency prices. We deliver top-tier craftsmanship with the speed and agility of a small studio."
    >
        <Fragment slot={"title"}>
            Our <span class="text-brand-red">Services</span>
        </Fragment>
    </PageHeader>

    <div class="w-full flex flex-col gap-16 lg:gap-32">
        {
            services.map((service, index) => (
                <ServiceCard
                    title={service.title}
                    subtitle={service.subtitle}
                    description={service.description}
                    deliverables={service.deliverables}
                    image={service.image}
                    alt={service.alt}
                    isLeft={(index + 1) % 2 === 0}
                />
            ))
        }
    </div>

    <div class="mt-20">
        <CTA
            description="Whether you need a full MVP or just a hero-section facelift, we are happy to look at your current site and give you some honest feedback"
            url="/contact"
            buttonLabel="Book a free call"
            buttonVariant="filled"
            buttonIcon={UpRight}
            class="text-brand-surface"
        >
            <Fragment slot={"title"}>
                Not sure where to start?
                <span class="text-brand-blue">Let’s brainstorm.</span>
            </Fragment>
        </CTA>
    </div>
</Section>
