---
import { Image } from "astro:assets"
import Down from "../../assets/icons/Down.svg"
import ServiceDetails from "../molecules/ServiceDetails.astro"
import CTA from "../molecules/CTA.astro"
import { detailedServices } from "../../constant"
---
<section class="flex flex-col my-10 md:my-16">

    <div class="bg-neutral py-10 flex flex-col justify-center items-center px-5">

        <div class="flex justify-center items-center">
            <h1 class="inline-block text-transparent [-webkit-text-stroke:1px_#F39C12] text-7xl lg:text-9xl">
                Services
            </h1>

            <h3 class="absolute max-sm:text-mobile-h2 text-desktop-h2 font-bold text-primary-orange mt-5">
                Services
            </h3>
        </div>

        <p class="text-neutral2 max-w-3xl mx-auto text-center font-light">
            Our team combines creativity, technology, and strategy to deliver websites and web apps that look amazing and perform flawlessly.
        </p>


    </div>

    <div class="w-full max-w-6xl mx-auto md:mt-28 text-neutral bg-white rounded-lg">


        {
            detailedServices.map(service => (
                <ServiceDetails 
                    title={service.title} 
                    idealFor={service.idealFor} 
                    items={service.offer} 
                    whyItMatters={service.whyItMatters}
                    reverse={service.layout === "reverse"}
                    visual={service.visual}
                />
            ))
        }

    </div>


    <div class="md:mt-20">
        <CTA textBefore="Let’s Create Something" textAfter="Together!" highlight="Amazing" buttonText="Schedule a Call" buttonHref="/#contact"/>
    </div>



</section>