---
import PageHeader from "@ui/PageHeader.astro";
import Section from "@ui/Section.astro";
import { type CollectionEntry } from "astro:content";
import Bookmark from "@icons/Bookmark.svg";
import { Image } from "astro:assets";
import { render } from "astro:content";
import UpRight from "@icons/UpRight.svg";
import Button from "@ui/Button.astro";

interface Props {
    caseStudy: CollectionEntry<"case-studies">;
}

const { caseStudy } = Astro.props;
const {
    title,
    description,
    category,
    coverImage,
    alt,
    client,
    sector,
    duration,
} = caseStudy.data;

const { Content } = await render(caseStudy);
---

<Section>
    <PageHeader
        pillLabel={category}
        pillIcon={Bookmark}
        description={description}
    >
        <Fragment slot={"title"}>
            {title}
        </Fragment>
    </PageHeader>

    <div class="flex flex-col gap-4 w-full">
        <div class="w-full flex max-md:flex-col gap-4 max-w-3xl mx-auto">
            <div
                class="flex-1 flex flex-col bg-neutral-12/10 border border-neutral-12 p-4 rounded-2xl hover:bg-neutral-12/20 transition duration-300 gap-1"
            >
                <span class="text-neutral-5">Client</span>
                <span class="text-body-lg text-brand-surface">{client}</span>
            </div>
            <div
                class="flex-1 flex flex-col bg-neutral-12/10 border border-neutral-12 p-4 rounded-2xl hover:bg-neutral-12/20 transition duration-300 gap-1"
            >
                <span class="text-neutral-5">Sector</span>
                <span class="text-body-lg text-brand-surface">{sector}</span>
            </div>
            <div
                class="flex-1 flex flex-col bg-neutral-12/10 border border-neutral-12 p-4 rounded-2xl hover:bg-neutral-12/20 transition duration-300 gap-1"
            >
                <span class="text-neutral-5">Project Duration</span>
                <span class="text-body-lg text-brand-surface">{duration}</span>
            </div>
        </div>
        <div
            class="p-4 lg:p-8 bg-neutral-12/10 border border-neutral-12 rounded-4xl"
        >
            <div
                class="group relative aspect-3/2 w-full overflow-hidden rounded-2xl border border-neutral-12"
            >
                <Image
                    src={coverImage}
                    alt={alt}
                    width={1440}
                    class="h-full w-full object-cover object-top transition-[object-position] duration-10000 ease-in-out group-hover:object-bottom"
                />
            </div>
        </div>

        <div class="case-study-body">
            <Content />
        </div>

        <div class="flex max-md:flex-col items-center gap-4 justify-between mt-4 md:mt-10 lg:mt-20">
            <div class="flex">
                <h4 class="text-h2 text-brand-surface max-w-3xl max-md:text-center">
                    Ready to turn your website into a client magnet?
                    <span class="text-brand-blue text-h2"
                        >Let’s map it out.
                    </span>
                </h4>
            </div>
            <div>
                <Button
                    label="Book a free strategy call"
                    href="/contact"
                    variant="filled"
                    class="lg:animate-bounce w-full hover:[animation-play-state:paused] ease-in-out"
                >
                    <UpRight />
                </Button>
            </div>
        </div>
    </div>
</Section>
