---
import Down from "../../assets/icons/Down.svg"
import { Image } from "astro:assets"

const {
    title,
    idealFor,
    items,
    whyItMatters,
    visual,
    reverse
} = Astro.props

---
<div class={`service-item w-full flex max-sm:flex-col ${reverse ? 'flex-row-reverse' : 'flex-row'} justify-between items-start px-10 py-20 lg:px-20 border-b-2 border-neutral2 `}>

    <div class="md:max-w-lg space-y-6 max-sm:leading-tight">

        <div>
            <h1 class="max-sm:text-mobile-h2 text-desktop-h4 font-light">{title}</h1>
            <p class="text-desktop-p font-light leading-tight">{idealFor}</p>
        </div>

        <div class="space-y-1">

            <details class="group bg-neutral2 rounded-lg">
                <summary class="list-noe flex justify-between items-center text-neutral cursor-pointer [&::-webkit-details-marker]:hidden px-3 py-3">
                    <h2 class="font-medium flex-1">
                        What we offer:
                    </h2>
                    <div>
                        <Image
                            src={Down}
                            alt="Icon"
                            class="icon transition-transform duration-300 group-open:rotate-180"
                        />
                    </div>
                </summary>
                <div class="px-6 space-y-2 details-content py-2">
                    {items.map((item:any) => (
                        <p class="font-light">
                            <span class="font-medium">{item.title}</span> {item.desc}
                        </p>
                    ))}
                </div>
            </details>

            <details class="group bg-neutral2 rounded-lg">
                <summary class="list-noe flex justify-between items-center text-neutral cursor-pointer [&::-webkit-details-marker]:hidden px-3 py-3">
                    <h2 class="font-medium flex-1">
                        Why it matters:
                    </h2>
                    <div>
                        <Image
                            src={Down}
                            alt="Icon"
                            class="icon transition-transform duration-300 group-open:rotate-180"
                        />
                    </div>
                </summary>
                <div class="px-6 details-content py-2">
                    <p class="font-light">
                        {whyItMatters}
                    </p>
                </div>
            </details>
        </div>
        
    </div>

    <!-- <div class={`w-[500px] h-[400px] bg-linear-to-br ${reverse ? "from-accent-blue/50 to-primary-orange/50" : "from-primary-orange/50 to-accent-blue/50"} flex justify-center items-center rounded-lg`}>
        <Image
            src={visual}
            alt="Image"
            class="w-[480px] rounded-lg"
        />
    </div> -->


        <Image
            src={visual}
            alt="Image"
            class="w-[300px] lg:w-[500px] rounded-lg max-sm:hidden"
        />
    
</div>
