---
import Case from "@icons/Case.svg"
import Section from "@ui/Section.astro"
import ProjectCard from "@ui/ProjectCard.astro"
import {projects} from "@data/projects"
import Heading from "@ui/Heading.astro"
---

<Section id="work">

    <Heading 
        pillLabel="What We’re Building",
        pillIcon={Case}
        title="Recent Work & Projects"
        description="A look at what we’ve been working on in the lab."
    />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-10">
        {
            projects.map((project) => (
                <ProjectCard
                    title={project.title}
                    url={project.url}
                    image={project.image},
                    alt={project.alt},
                    tags={project.tags}
                />
            ))
        }
    </div>


</Section>