---
import "@fontsource-variable/inter";
import "@fontsource/bitcount-single";
import "../styles/global.css";

import siteData from "@data/seo/siteData.json";
import Header from "@chrome/Header.astro";
import Footer from "@chrome/Footer.astro";
import Seo from "@components/seo/Seo.astro";

import Analytics from "@vercel/analytics/astro";

const {
	title = siteData.title,
	description = siteData.description,
	image = siteData.image,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="google-site-verification"
			content="gze7DFkTyFk9w5oDHQc9r7_mDgvLdFKdteAXLEoFxAE"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		<Seo {title} {description} url={Astro.url} {image} />
	</head>
	<body>
		<div
			id="navbar"
			class="px-5 fixed top-0 left-0 w-full z-50 transition-all duration-500 border-b border-neutral-12 bg-brand-neutral"
		>
			<Header />
		</div>

		<main class="">
			<slot />
			<Analytics />
		</main>

		<div class="bg-neutral-12/10 px-5 border-t border-neutral-12">
			<Footer />
		</div>

		<script>
			import Lenis from "lenis";

			const lenis = new Lenis({
				duration: 1.2,
				easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
				orientation: "vertical",
				smoothWheel: true,
				wheelMultiplier: 0.8,
			});

			function raf(time: any) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}
			requestAnimationFrame(raf);

			let lastScrollY = window.scrollY;
			const navbar = document.getElementById("navbar");

			lenis.on("scroll", ({ scroll }) => {
				if (navbar) {
					if (scroll > lastScrollY && scroll > 80) {
						navbar.style.transform = "translateY(-100%)";
					} else {
						navbar.style.transform = "translateY(0)";
					}
				}
				lastScrollY = scroll;
			});
		</script>
	</body>
</html>
