---
import "../styles/global.css"

import siteData from "../constant/siteData.json"
import Header from "../components/molecules/Header.astro";
import Footer from "../components/molecules/Footer.astro"


const {
	title = siteData.title,
	description = siteData.description,
	image = siteData.image
} = Astro.props;
---


<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Fayda Studio</title>

		<!-- 

		<Seo 
			{title}
			{description}
			url = {Astro.url}
			{image}
		/>
		
		-->

	</head>
	<body class="">

		<div id="navbar" class="px-5 sticky top-0 left-0 w-full z-50 transition duration-150">
			<Header/>
		</div>
		

			<main class="flex flex-col min-h-screen"> 
				<slot />
			</main>
		
		<div class="bg-neutral px-5">
			<Footer/>
		</div>

		<!-- header bg -->
		<script is:inline>
			const navbar = document.getElementById("navbar")

			window.addEventListener("scroll", () => {
				if(window.scrollY > 20){
					navbar.classList.add("bg-bg", "shadow-sm")
				}else{
					navbar.classList.remove("bg-bg", "shadow-sm")
				}
			})
		</script>
		
	</body>
</html>



