---
import { Image } from "astro:assets";
import Check from "@icons/Check.svg"

interface Props {
    title: string,
    subtitle: string,
    description: string,
    deliverables: Array<string>,
    image: ImageMetadata,
    alt: string,
    isLeft?: boolean
}

const {
    title,
    subtitle,
    description,
    deliverables = [],
    image,
    alt,
    isLeft
} = Astro.props
---

<div class:list={`w-full flex flex-col-reverse gap-6 lg:gap-20 justify-between items-center ${isLeft ? "lg:flex-row-reverse" : "lg:flex-row"}`}>
    <div class="flex-1 flex flex-col gap-6 text-brand-surface">
        <div class="flex flex-col gap-2">
            <div>
                <h2 class="text-h3">{title}</h2>
                <span class="text-neutral-7 font-light text-sm"
                    >Best for: {subtitle}</span
                >
            </div>
            <p class="text-neutral-5 text-body-md">
                {description}
            </p>
        </div>
        <div>
            <h3 class="font-bold">What you get:</h3>
            <ul class="space-y-2 my-2">
                {
                    deliverables.map((delivery) => (
                        <li class="flex items-center gap-2">
                            <Check/>
                            <span>{delivery}</span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <div class="flex-1 border border-neutral-12 overflow-hidden rounded-2xl">
        <Image src={image} alt={alt} class="w-full object cover" />
    </div>
</div>
